<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогноз погоди</title>
    <link rel="stylesheet" href="app.component.scss">
</head>
<body>
    <header>
        <div class="weather-header">
            <div class="left">
                <h1>Погода у Києві</h1>
            </div>
            <div class="right">
                <p>Україна, Київ</p>
            </div>
        </div>
    </header>
    <main>
        <section class="forecast">
            <h2>Прогноз погоди на найближчі дні</h2>
            <div class="forecast-days" *ngIf="weather?.list">
                <!-- Динамічний прогноз на 5 днів з інтервалом 3 години -->
                <div *ngFor="let forecast of weather.list" class="day">
                    <label>
                        {{ forecast.dt * 1000 | date:'EEEE, d MMMM, HH:mm' }}
                        {{ forecast.weather[0].main === 'Rain' ? '🌧️' : forecast.weather[0].main === 'Clear' ? '☀️' : forecast.weather[0].main === 'Clouds' ? '☁️' : '🌤️' }}
                        {{ forecast.main.temp }}°C
                    </label>
                    <div class="details">
                        <p><strong>Температура:</strong> {{ forecast.main.temp }}°C</p>
                        <p><strong>Відчувається як:</strong> {{ forecast.main.feels_like }}°C</p>
                        <p><strong>Вологість:</strong> {{ forecast.main.humidity }}%</p>
                        <p><strong>Тиск:</strong> {{ forecast.main.pressure }} мм рт. ст.</p>
                        <p><strong>Вітер:</strong> {{ forecast.wind.speed }} м/с</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
