<body>
    <header>
        <div class="weather-header">
            <div class="left">
                <h1>Погода у Кам'янці-Подільському</h1>
            </div>
            <div class="right">
                <p>Україна, Кам'янець-Подільський</p>
            </div>
        </div>
    </header>
    <main>
        <section class="forecast">
            <h2>Прогноз погоди на найближчі дні</h2>
            <div class="forecast-days" *ngIf="dailyForecasts.length">
                <div class="days-container">
                    <div *ngFor="let day of dailyForecasts; let i = index" class="day" (click)="toggleDetails(i)">
                        <label>
                            <div>{{ day.date | date: 'EEE' }}</div>  <!-- День тижня -->
                            <div class="day-number">{{ day.date | date: 'dd' }}</div>  <!-- Число місяця -->
                            <div>{{ day.date | date: 'MMM' }}</div>  <!-- Місяць -->
                            <div class="temp-range-container">
                                <div class="min-temp-container">
                                    <span class="min-text">min </span>
                                    <span class="min-value">{{ day.minTemp }}°C</span>
                                </div>
                                <div class="max-temp-container">
                                    <span class="max-text">max </span>
                                    <span class="max-value">{{ day.maxTemp }}°C</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            
                <div class="hourly-forecasts">
                    <div *ngIf="selectedDayIndex !== null" class="hours-container">
                        <div *ngFor="let forecast of dailyForecasts[selectedDayIndex].forecasts" class="hour">
                            <p>
                                <strong>Час:</strong> {{ forecast.dt * 1000 | date:'HH:mm' }}
                                <img src="https://openweathermap.org/img/wn/{{ forecast.weather[0].icon }}@2x.png" 
                                     alt="{{ forecast.weather[0].description }}" 
                                     class="weather-icon">
                            </p>
                            <p><strong>Температура:</strong> {{ forecast.main.temp }}°C</p>
                            <p><strong>Відчувається як:</strong> {{ forecast.main.feels_like }}°C</p>
                            <p><strong>Вологість:</strong> {{ forecast.main.humidity }}%</p>
                            <p><strong>Тиск:</strong> {{ forecast.main.pressure }} мм рт. ст.</p>
                            <p><strong>Вітер:</strong> {{ forecast.wind.speed }} м/с</p>
                        </div>
                    </div>
                </div>
            </div>            
        </section>
    </main>
</body>
